.message {
	// max-width: 60%;
	.message-content {
		max-width: 60%;
		font-size: 13px;
		font-weight: bold;
		&.theirs {
			padding: 7px;
			background-color: $secondary;
			border-radius: 5px;
			color: white;
			position: relative;
		}
	}
	.message-byline {
		font-size: 10px;
	}
}

.inbox-message {
	cursor: pointer;
	padding: 14px 0 0;
	border-bottom: 2px solid #fff;
	&:hover {
		border-bottom: 2px solid $secondary;
	}
	&.unread {
		font-weight: 900;
	}
	.byline {
		font-size: 10px;
	}
}

.inbox-count {
	position: relative;
	left: -5px;
	top: -10px;
	font-size: 10px;
	font-weight: 700;
	padding: 5px 7px;
}
